$color3: #652668;
$color5: #ADC5D6;
$color1: #DCE2DF;
$color2: #3A2768;
$color4: #959F96;
$color6: #51315E; //halfway $color7 & $color3
$color7: #4A2E62; //halfway of #3A2768 & #59345B
$color8: #422A65; //$color7 & $color2