@import url('https://fonts.googleapis.com/css?family=Open+Sans:wght@300;400|Great+Vibes:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.section-title {
  clear: both;
  margin: 0 1em;
}

.photographs-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
.photographs-page section {
  margin: 1em;
}

.hide {
  display: none; /* Hidden by default */
}

.show-modal {
  display: flex;
}

.show-photo {
  display: block;
  overflow: hidden;
}

.show-caption {
  display: inline-block;
}

.reel-cover {
  float: left;
  cursor: pointer;
  display: flex;
  margin: 2em;
  height: 150px;
  width: 150px;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: inset 0 0 100px #413855;
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  transition: 0.6s;
}
.reel-cover .label-text {
  transition: 0.6s;
  margin: auto;
  padding: 1em;
}
.reel-cover:hover {
  box-shadow: inset 0 0 1px #413855;
}
.reel-cover:hover .label-text {
  opacity: 0%;
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
  transition-delay: 0.6s;
}
#modal .slide {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  transition-delay: 0.6s;
}
#modal #slide-indicator,
#modal #close-modal,
#modal #prev-photo,
#modal #next-photo {
  font-size: 2em;
  width: auto;
  color: #dce2df;
  z-index: 1;
  transition: 0.6s ease;
  opacity: 0.8;
  padding: 1em;
  text-shadow: 0 0 10px black;
}
#modal #slide-indicator:hover,
#modal #slide-indicator:focus,
#modal #close-modal:hover,
#modal #close-modal:focus,
#modal #prev-photo:hover,
#modal #prev-photo:focus,
#modal #next-photo:hover,
#modal #next-photo:focus {
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}
#modal #slide-indicator {
  font-size: 1em;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5em;
}
#modal #close-modal {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  text-align: center;
  align-items: center;
  border-radius: 0 0 0 1em;
}
#modal #prev-photo,
#modal #next-photo {
  cursor: pointer;
  position: fixed;
  top: 50%;
  margin-top: -2em;
}
#modal #prev-photo {
  border-radius: 0 1em 1em 0;
}
#modal #next-photo {
  right: 0;
  border-radius: 1em 0 0 1em;
}
#modal .caption {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 2em;
  width: 100%;
}

@media screen and (max-width: 643px) {
  .reel-cover {
    margin: 2vw;
  }
}
@media screen and (min-width: 644px) {
  .reel-cover {
    margin: 12px;
  }
}
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  background-color: #413855;
  color: #dce2df;
  margin: 0;
}

p {
  max-width: 70ch;
}

main {
  display: table;
  margin: auto;
  padding: 1em;
}

nav,
footer {
  padding: 1em;
}

iframe {
  width: 100%;
}

.pic-container {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
}

header,
footer {
  background-color: #5b2768;
}

header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .nav-link {
  margin: 0 0.25em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.7;
}
header .active {
  opacity: 100%;
}

.no-wrap-nav {
  white-space: nowrap;
}

footer {
  display: flex;
}
footer > div {
  margin: 1em;
}

.float-right {
  float: right;
}

.action-container {
  padding: 1em 0;
  text-align: center;
}

.vert-center {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.call-action {
  background-color: rgb(158, 68, 56);
  border: none;
  color: #dce2df;
  padding: 1em;
  font-size: 1em;
}

table {
  margin: 0;
  padding: 0;
}

th,
tr,
td {
  box-sizing: border-box;
  padding: 0.5em;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 1em;
}

.no-border {
  border: 0;
}
.no-border h2 {
  margin: 0;
  padding: 0;
}

.rounded-top {
  border-radius: 1em 1em 0 0;
}

.rounded-top-left {
  border-radius: 1em 0 0 0;
}

.rounded-top-right {
  border-radius: 0 1em 0 0;
}

.rounded-bottom-left {
  border-radius: 0 0 0 1em;
}

.rounded-bottom {
  border-radius: 0 0 1em 1em;
}

.rounded-bottom-right {
  border-radius: 0 0 1em 0;
}

@media screen and (max-width: 510px) {
  th,
  tr,
  td {
    font-size: 3vw;
  }
}
.package-pic {
  clear: right;
  float: right;
  margin: 1em;
  height: 300px;
  width: auto;
}

.icon {
  height: 1em;
  object-fit: cover;
  object-position: 0 0;
  width: 1em;
  opacity: 70%;
  transition: 0.6;
}

a {
  color: #dce2df;
  text-decoration: none;
}
a:hover .icon {
  opacity: 100%;
}
a.nav-link:hover {
  opacity: 100%;
}
a.navbar-brand {
  font-family: 'Great Vibes', cursive;
  font-size: 5vw;
}
a.navbar-brand:hover {
  text-decoration: underline;
}

main > h2 {
  text-align: center;
}

h3 {
  margin-top: 1em;
}

#announcement {
  text-align: center;
  background-color: #106076;
  padding: 2em;
}
#announcement h2 {
  margin: 0;
}
#announcement a {
  color: rgb(220, 201, 172);
}
#announcement a:hover {
  text-decoration: underline;
}

#about-pic {
  display: block;
  background-image: url('../images/1382655855.jpg');
  height: 274px;
  width: 411px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1em;
  position: relative;
}
#about-pic .label-text {
  bottom: 0;
  padding: 0 1em;
  position: absolute;
}

.label-text {
  text-shadow: 0 0 5px #413855;
  z-index: 1;
}

.flex-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.flex-container div {
  margin: 1em;
  text-align: center;
}

.center-flex {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 643px) {
  #about-pic {
    float: none;
    margin: 0 auto;
    width: 100%;
    max-width: 411px;
    height: 274px;
    background-position: top;
  }
  a.navbar-brand {
    font-size: 33px;
  }
  .logo-text {
    display: none;
  }
  .icon {
    width: 2em;
    height: 2em;
  }
  .vert-center {
    position: relative;
    transform: translateY(0);
    right: 0;
    float: right;
  }
}
@media screen and (min-width: 644px) {
  #about-pic {
    float: right;
    margin: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
