@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Tangerine:700&display=swap');

:root {
    --color1: #fff;
    --color2: #333;
    --color3: #222;
}
body {
    font-family: 'Gentium Basic', serif;
    background-color: var(--color2);
    color: var(--color1);
    margin: 0;
}

nav, footer {
    background-color: var(--color3);
    padding: 1em;
}
footer {
    display: flex;
}
footer > div {
    margin: 1em;
}

div#main-content, .reel-cover { margin: 2em; }

img.package-pic {
    clear: right;
    float: right;
    margin: 1em;
    height: 300px;
    width: auto;
}

.icon {
    height: 1em;
    object-fit: cover;
    object-position: 0 0;
    width: 1em;
    opacity: 70%;
    vertical-align:middle;

}
a:hover .icon { opacity: 100%; }

h3 {
    margin-top: 1em;
}


.reel-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.reel-cover {
    text-align: center;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 2px 10px #000, -1px -1px 4px #aaa;
}
.reel-cover img {
    z-index: 1;
    opacity: 50%;
    transition: 1s;
    max-width: 150%;
    max-height: 150%;
}
.reel-cover .label-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 1s;
}
.reel-cover:hover img {
    opacity: 100%;
}
.reel-cover:hover .label-text {
    opacity: 0%;
    top: 110%;
}
.projector {
    margin: 0 auto;
    width: 100%;
    display: block;
    width: 100%;
    max-height: 95vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.slide {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}
.slideshow-controls {
    top: -20px;
    display: inline-block;
    height: 10px;
    width: 20px;
    background-color: var(--color1);
}
#slide-1:target ~ .reel { left: 0px; }
#slide-2:target ~ .reel { left: -100%; }
#slide-3:target ~ .reel { left: -200%; }



a { color: var(--color1); }
a.nav-link { text-decoration: none; }
a.nav-link:hover { text-decoration: underline; }
a.navbar-brand:hover { text-decoration: underline; }
a.navbar-brand {
    font-family: 'Tangerine', cursive;
    font-size: 5vw;
    text-decoration: none;
}
.navbar {
    text-align: center;
}
.navbar.nav-link {
    margin-left: 30px;
}

@media screen and (max-width: 643px) {
    #about-pic {
        float: none;
        margin: 0 auto;
        max-width: 100%;
        background-position: top;
    }
    a.navbar-brand {
        font-size: 33px;
    }
    .logo-text {
        display: none;
    }
    .icon {
        float: left;
        width: 2em;
        height: 2em;
    }
    div#main-content {
        margin: 5vw;
    }
    .reel-cover {
        margin: 2vw;
    }
}

@media screen and (min-width: 644px) {
    #about-pic {
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }
    .reel-cover {
        margin: 12px;
    }
}
#about-pic {
    display: block;
    background-image: url("https://www.joelenesimages.com/uploads/1/9/1/0/19107423/published/1382655855.jpg?1579551660");
    height: 274px;
    width: 411px;
    background-repeat: no-repeat;
    border-radius: 1em;
    position: relative;
    text-align: left;
}
.label-text {
    text-shadow: 1px 1px 4px black;
    z-index: 2;
}
#about-pic .label-text {
    bottom: 0;
    padding: 0 1em;
    position: absolute;
}
#about-pic.label-text h3 {
    margin: 0;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: var(--color3);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid var(--color2);
    width: 90%;
    height: 90%;
}
.close {
    color: var(--color1);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 5vw;
    right: 5vw;
}
.close:hover, .close:focus {
    color: var(--color2);
    text-decoration: none;
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}

.prev {
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.modal img {
}   